<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<style type="text/css">
		h3,
		div.row,
		div.notRow {
			padding-left: 30px;
			padding-top: 5px;
		}
		div#paging{
			text-align: center;
		}
	</style>
</head>

<body>
	<!-- <dl th:each="HiddenBoardDTO : ${boardList}">
		<dt>id</dt>
		<dd th:text="${HiddenBoardDTO.id}"></dd>
	</dl> -->

	<h3>1</h3>
	<div id="row1" class="row">
		<div class="col-6">
		</div>
	</div>
	<br>
	<hr>
	<h3>2</h3>
	<div id="row2" class="row">
		<div class="col-6">
		</div>
	</div>
	<br>
	<hr>
	<h3>3</h3>
	<div id="row3" class="row">
		<div class="col-6">
		</div>
	</div>
	<br>
	<hr>
	<h3>4</h3>
	<div id="row4" class="row">
		<div class="col-6">
		</div>
	</div>
	<br>
	<hr>
	<h3>5</h3>
	<div id="row5" class="row">
		<div class="col-6">
		</div>
	</div>
	<br>
	<hr>
	<h3>6</h3>
	<div id="row6" class="row">
		<div class="col-6">
		</div>
	</div>
	<br>
	<hr>
	<h3>7</h3>
	<div id="row7" class="row">
		<div class="col-6">
		</div>
	</div>
	<br>
	<hr>
	<h3>8</h3>
	<div id="row8" class="row">
		<div class="col-6">
		</div>
	</div>
	<br>
	<hr>
	<h3>9</h3>
	<div id="row9" class="row">
		<div class="col-6">
		</div>
	</div>
	<br>
	<hr>
	<h3>10</h3>
	<div id="row10" class="row">
		<div class="col-6">
		</div>
	</div>
	<div id="paging">
		<a id="pageNum1" onclick="getBoard(0)" href="javascript:void(0)">1</a>
		<a id="pageNum2" onclick="getBoard(1)" href="javascript:void(0)">2</a>
		<a id="pageNum3" onclick="getBoard(2)" href="javascript:void(0)">3</a>
		<a id="pageNum4" onclick="getBoard(3)" href="javascript:void(0)">4</a>
		<a id="pageNum5" onclick="getBoard(4)" href="javascript:void(0)">5</a>
		<a id="nextPage" onclick="setPaging(1)" href="javascript:void(0)">다음</a>
	</div>


	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script type="text/javascript">
		// 전체 게시글 수 받을 변수
		var count

		// 전체 게시글 수 얻어오기
		function getCount() {
			axios.get("http://127.0.0.1:8000/getCount")
				.then(resData => {
					count = resData.data
				}).catch(error => {
					console.log(error)
				})
		}

		// innerHTML코드 반복문 함수화
		function setPageNumber(pageNum, loopNum) {
			paging = ""
			for (var i = 1; i <= loopNum; i++) {
				paging += " <a id='pageNum" + i + "' onclick='getBoard(" + (pageNum + i - 1) + ")' href='javascript:void(0)'>" + (pageNum + i) + "</a>"
			}
			return paging
		}
		// 페이징 처리 로직
		function setPaging(direction) {
			// 실시간 전체 게시글 수 동기화
			getCount()

			// innerHTML 받아줄 변수 선언
			var paging = ""

			// 페이징 처리를 위해 기준값 계산
			var standard = parseInt(document.getElementById('pageNum1').innerText / 5)

			var nowNum = Number(document.getElementById('pageNum1').innerText) + 4

			// 끝나는 페이지값 계산
			var endPoint = parseInt(count / 10) + 1

			// 실제로 들어갈 페이지값
			var nextPage = (standard + 1) * 5
			var prevPage = (standard - 1) * 5

			// 반복되는 구문 초기화
			const next = " <a id='nextPage' onclick='setPaging(1)' href='javascript:void(0)'>다음</a>"
			const prev = "<a id='prevPage' onclick='setPaging(2)' href='javascript:void(0)'>이전</a>"
			
			// 다음버튼 클릭시
			if (direction == 1) {
				getBoard(nextPage)
				paging = prev
				paging += Number(nowNum) + 5 > endPoint ? setPageNumber(nextPage, endPoint - (standard + 1) * 5) : setPageNumber(nextPage, 5) + next
			// 이전버튼 클릭시	
			} else {
				getBoard(prevPage + 4)
				paging += standard == 1 ? setPageNumber(prevPage, 5) : prev + setPageNumber(prevPage, 5)
				paging += next
			}
			document.getElementById("paging").innerHTML = paging
		}
			
		// } else {
		// 		getBoard(prevPage + 4)
		// 		if(standard == 1){
		// 			paging += setPageNumber(prevPage, 5)
		// 		}else{
		// 			paging = prev
		// 			paging += setPageNumber(prevPage, 5)
		// 		}
		// 		paging += next
		// 	}


		function getBoard(pageNum) {
			getCount()
			var forNum = count - pageNum * 10 < 10 ? count - pageNum * 10 : 10
			axios.get("http://127.0.0.1:8000/getHidden?page=" + pageNum + "&sort=heart,desc")
				.then(resData => {
					for (let i = 0; i < forNum; i++) {
						document.getElementById("row" + (i + 1)).innerHTML = "<span>"
							+ "id : " + resData.data.content[i].id + "<br>"
							+ "contents : " + resData.data.content[i].contents + "<br>"
							+ "hashtag : " + resData.data.content[i].hashtag + "<br>"
							+ "postingDate : " + resData.data.content[i].postingDate + "<br>"
							+ "openDate : " + resData.data.content[i].openDate + "<br>"
							+ "heart : " + resData.data.content[i].heart + "<br>"
							+ "claim : " + resData.data.content[i].claim + "<br>"
							+ "nickname : " + resData.data.content[i].nickname + "<br>"
							+ "category : " + resData.data.content[i].category + "<br>"
							+ "</span>"
					}
					for (let j = forNum; j < 10; j++) {
						document.getElementById("row" + (j + 1)).innerHTML = "<span></span>"
					}
				}).catch(error => {
					console.log(error)
				})
		}
		getBoard(0)
	</script>
</body>

</html>