<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form action="saveHidden" method="post">
	<label for="id"><b>아이디</b></label>
    <input type="text" placeholder="아이디를 입력하세요" name="id"  required>
    <br><br>

    <label for="contents"><b>게시글내용</b></label>
    <input type="password" placeholder="비밀번호를 입력하세요" name="contents"  required>
    <br><br>
    
    <label for="hashtag"><b>해쉬태그</b></label>
    <input type="text" placeholder="관심있는 지역을 입력하세요" name="hashtag"  required>
    <br><br>

    <label for="openDate"><b>공개날짜</b></label>
    <input type="text" placeholder="살고계신 지역을 입력하세요" name="openDate" required>

   <br>
    <button type="submit" class="registerbtn">가입하기</button>　
</form>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript">

</script>
</body>
</html>